PROJECT_NAME=nestjs-prisma-postgresql
APP_PORT=8080

JWT_SECRET=
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=15m
JWT_REFRESH_TOKEN_EXPIRES=7d
CRYPTOJS_SECRET=
JWT_RESET_PASSWORD_SECRET=

# Firebase Config
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=

# Redis Config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL=86400

